#title {
    display: grid;
    place-items: center;
}

#screen {
    display: grid;
    place-content: center;
}

.container {
    border: .1px solid black;
    height: 500px;
    width: 500px;
    display: grid;
    justify-content: center;
    
}

.changeColor {
    background-color: black;
}

